<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VideoList</key>
	<array>
		<dict>
			<key>thumbImageUrl</key>
			<string>http://cdn01.sun.qiniuts.com/first_thumbImage</string>
			<key>url</key>
			<string>http://cdn01.sun.qiniuts.com/%E7%AC%AC%E4%B8%80%E5%BC%B9-%E5%8A%B2%E4%B9%90%E5%9B%A2V3%20Guitar%20Cover.mp4</string>
			<key>title</key>
			<string>第一弹-劲乐团V3 Guitar Cover</string>
		</dict>
		<dict>
			<key>thumbImageUrl</key>
			<string>http://cdn01.sun.qiniuts.com/second_thumbImage</string>
			<key>url</key>
			<string>http://cdn01.sun.qiniuts.com/%E7%AC%AC%E4%BA%8C%E5%BC%B9-%E5%B2%81%E6%9C%88%E6%97%A0%E5%A3%B0%2891%E7%8E%B0%E5%9C%BA%E7%89%88%29%20Guitar%20Cover.mp4</string>
			<key>title</key>
			<string>第二弹-岁月无声(91现场版) Guitar Cover.mp4</string>
		</dict>
		<dict>
			<key>thumbImageUrl</key>
			<string>http://cdn01.sun.qiniuts.com/hktk_thumbImage</string>
			<key>url</key>
			<string>http://cdn01.sun.qiniuts.com/%E6%B5%B7%E9%98%94%E5%A4%A9%E7%A9%BA%E5%B0%BE%E5%A5%8F_trans.mp4</string>
			<key>title</key>
			<string>海阔天空尾奏solo（6.30祭）</string>
		</dict>
		<dict>
			<key>thumbImageUrl</key>
			<string>http://cdn01.sun.qiniuts.com/kgyl_thumbImage</string>
			<key>url</key>
			<string>http://cdn01.sun.qiniuts.com/%E7%A9%BA%E8%B0%B7%E5%B9%BD%E5%85%B0.mp4</string>
			<key>title</key>
			<string>空谷幽兰尾奏solo</string>
		</dict>
		<dict>
			<key>thumbImageUrl</key>
			<string>http://cdn01.sun.qiniuts.com/2channel_thumbImage</string>
			<key>url</key>
			<string>http://cdn01.sun.qiniuts.com/2channel.mp4</string>
			<key>title</key>
			<string>抖音---立体声环绕</string>
		</dict>
		<dict>
			<key>thumbImageUrl</key>
			<string>http://cdn01.sun.qiniuts.com/douyin1_thumbImage</string>
			<key>url</key>
			<string>http://cdn01.sun.qiniuts.com/douyin1.mp4</string>
			<key>title</key>
			<string>抖音---摇滚卡农</string>
		</dict>
		<dict>
			<key>thumbImageUrl</key>
			<string>http://cdn01.sun.qiniuts.com/douyin2_thumbImage</string>
			<key>url</key>
			<string>http://cdn01.sun.qiniuts.com/douyin2.mp4</string>
			<key>title</key>
			<string>抖音---吉他和声</string>
		</dict>
		<dict>
			<key>thumbImageUrl</key>
			<string>http://cdn01.sun.qiniuts.com/guitarshow1_thumbImage</string>
			<key>url</key>
			<string>http://cdn01.sun.qiniuts.com/guitarshow1.mov</string>
			<key>title</key>
			<string>上海国际乐器展片段1</string>
		</dict>
		<dict>
			<key>thumbImageUrl</key>
			<string>http://cdn01.sun.qiniuts.com/guitarshow2_thumbImage</string>
			<key>url</key>
			<string>http://cdn01.sun.qiniuts.com/guitarshow2.mov</string>
			<key>title</key>
			<string>上海国际乐器展片段2</string>
		</dict>
		<dict>
			<key>thumbImageUrl</key>
			<string>http://cdn01.sun.qiniuts.com/guitarshow3_thumbImage</string>
			<key>url</key>
			<string>http://cdn01.sun.qiniuts.com/guitarshow3.mov</string>
			<key>title</key>
			<string>上海国际乐器展片段3</string>
		</dict>
		<dict>
			<key>thumbImageUrl</key>
			<string>http://cdn01.sun.qiniuts.com/guitarshow4_thumbImage</string>
			<key>url</key>
			<string>http://cdn01.sun.qiniuts.com/guitarshow4.mov</string>
			<key>title</key>
			<string>上海国际乐器展片段4</string>
		</dict>
		<dict>
			<key>thumbImageUrl</key>
			<string>http://cdn01.sun.qiniuts.com/guitarshow5_thumbImage</string>
			<key>url</key>
			<string>http://cdn01.sun.qiniuts.com/guitarshow5.mov</string>
			<key>title</key>
			<string>上海国际乐器展片段5</string>
		</dict>
	</array>
</dict>
</plist>
